@font-face{
  font-family: 'csq-sell';
  src:  url-loader('../fonts/csq-sell.eot?tw25ux');
  src:  url-loader('../fonts/csq-sell.eot?tw25ux#iefix') format('embedded-opentype'),
    url-loader('../fonts/csq-sell.ttf?tw25ux') format('truetype'),
    url-loader('../fonts/csq-sell.woff?tw25ux') format('woff'),
    url-loader('../fonts/csq-sell.svg?tw25ux#csq-sell') format('svg');
  font-weight: normal;
  font-style: normal;
}
